<div class="products">
    <ly-grid container spacing="16 8@XSmall">
        <ly-grid item col="3 6@XSmall@Small" *ngFor="let item of products;let i as index">
            <ly-card >
                <ly-card-media
                  bgImg="{{item.image}}"
                  title="{{item.title}}"
                ></ly-card-media>
                <ly-card-content>
                  <h2 (click)="router.navigate(['details', item.id])" lyTyp="headline">{{item.title}}</h2>
                  <p lyTyp="body1">
                    {{item.description}}
                  </p>
                </ly-card-content>
                <ly-card-actions >
                    <button class="addToCart">
                        add To Cart
                    </button>
                    <span class="price">
                        {{item.price}} $
                    </span>
                </ly-card-actions>
              </ly-card>
        </ly-grid>
      </ly-grid>
</div>
