<div class="products">
  <ng-container *ngIf="!loader">
    <div class="selectCateg" style="margin-bottom: 40px;">
      <app-select [title]="'Categories'" [typeOfData]="categories" (selectedData)="chooseCategory($event)"></app-select>
    </div>
    <ly-grid container spacing="16 8@XSmall">
      <ly-grid item col="3 6@XSmall@Small" *ngFor="let item of products;let i as index">
          <app-product [data]="item"></app-product>
      </ly-grid>
    </ly-grid>
  </ng-container>
  <ng-container *ngIf="loader">
    <app-loader></app-loader>
  </ng-container>
</div>
