/* You can add global styles to this file, and also import other style files */

.LyTabs-labels-e {
    justify-content: center;
}

.b {
    justify-content: space-around;
}

.navbar {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    li {
        cursor: pointer;
        margin-right: 30px;
        display: flex;
        align-items: center;
        position: relative;
        .material-icons {
            margin-right: 8px;
        }
        .LyBadge--position-after-above-aa {
            transform: translate(50%,-70%);
        }
    }
}

.products {
    padding: 20px;
    .LyCard-p {
        // height: 500px;
        transform: translateY(0);
        transition: all 0.3s ease-in-out;
        &:hover {
            transform: translateY(3px);
        }

    }
    .k-typ_58headline-u {
        font-size: 1rem;
        font-weight: 900;
        margin-bottom: 10px;
    }
    .LyCard-actions-s {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .LyTypography-d {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .price {
        background-color: #2e2e2e;
        border-radius: 50px;
        color: #FFF;
        padding: 5px 8px
    }
    .addToCart {
        background-color: transparent;
        color: #2e2e2e;
        border: 1px solid #2e2e2e;
        border-radius: 50px;
        padding: 10px 15px;
        font-weight: bold;
        transition: all 0.7s ease-in-out;
        &:hover {
            cursor: pointer;
            background-color: #2e2e2e;
            color: #FFF;
            border-color:#2e2e2e;

        }
    }
}